<section id="audit">
  <div class="container">
    <div class="content">
      <span class="topper">performance</span>
      <h2 class="h2 title">we build <span class="highlight">better</span> websites that perform</h2>
      <p class="text">When it comes to website load times, not very many can get the Google PageSpeed scores that we get with each and every site. Test your website load times with Google PageSpeed Insights and see what your current site is scoring right now.</p>

      <ul class="list-group">
        <li class="item">
          <img src="https://oakharborwebdesigns.com/assets/svgs/stat1.svg" width="40" height="40" alt="icon" loading="lazy" class="icon">
          <p class="item-text">Better load times means more traffic and more site conversions over time.</p>
        </li>
        <li class="item">
          <img src="https://oakharborwebdesigns.com/assets/svgs/stat2.svg" width="40" height="40" alt="icon" loading="lazy" class="icon">
          <p class="item-text">Faster websites can help improve SEO and your Google ads performance.</p>
        </li>
        <li class="item">
          <img src="https://oakharborwebdesigns.com/assets/svgs/stat3.svg" width="40" height="40" alt="icon" loading="lazy" class="icon">
          <p class="item-text">Our sites load instantly in under 1 second or less, which leads to a better user experience and conversions.</p>
        </li>
      </ul>
      <a href="#" class="cs-button-solid">claim free seo audit</a>
    </div>


  </div>
</section>