<section id="audit">
  <div class="container">
    <div class="heading-wrapper">
      <span class="topper">{{ site.data.settings.audit_settings.topper }}</span>
      <h2 class="headline">{{ site.data.settings.audit_settings.headline }}</h2>
      <p class="text">{{ site.data.settings.audit_settings.subheadline }}</p>
    </div>

    <div class="content">
      <ul class="list-group">
        {% for category in site.data.settings.audit_settings.audit_categories %}
        <li class="item">
          <img src="{{ category.icon }}" width="40" height="40" alt="icon" loading="lazy" class="icon">
          <div class="item-content">
            <h6>{{ category.title }}</h6>
            <p class="item-text">{{ category.content }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>

      <form class="form">
        {% for field in site.data.settings.audit_settings.form.fields %}
          <div class="field">
            <label class="label">
              {{ field.label }}
            </label>
            <input class="input" required type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}">
          </div>
        {% endfor %}
        <div class="checkbox-field">
          <input class="checkbox" checked type="checkbox" name="newsletter">
          <label class="label">
            I want to receive SEO tips and updates.
          </label>
        </div>
        <button class="button-solid-secondary" type="submit">{{ site.data.settings.audit_settings.button_text }}</button>
      </form>
    </div>
  </div>
</section>
