<section id="blog-1347">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">{{ site.data.settings.blog_settings.topper }}</span>
      <h2 class="cs-title">{{ site.data.settings.blog_settings.headline }}</h2>
      <p class="cs-text">
        {{ site.data.settings.blog_settings.subheadline }}
      </p>
    </div>
    <ul class="cs-card-group">
      {% if site.posts.size > 0 %}
        {% for post in site.posts offset:0 limit:3 %}
          <li class="cs-item">
            <a class="cs-link" href="{{ post.url | prepend: site.baseurl }}">
              <picture class="cs-picture">
                <source media="(max-width: 600px)"
                        srcset="{{ post.image }}">
                <source media="(min-width: 601px)"
                        srcset="{{ post.image }}">
                <img decoding="async"
                     src="{{ post.image }}"
                     alt="agency" width="413" height="374" aria-hidden="true">
              </picture>
              <div class="cs-item-text">
                <h3 class="cs-h3">
                  {{ post.title }}
                  <picture class="cs-icon-wrapper">
                    <img class="cs-icon" decoding="async"
                         src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                         alt="arrow" width="413" height="374" aria-hidden="true">
                  </picture>
                </h3>
                <div class="cs-info">
                  <span class="cs-date">
                      <img class="cs-date-icon" decoding="async"
                           src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-calendar.svg"
                           alt="calendar" width="413" height="374" aria-hidden="true">
                      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}
                  </span>
                  <span class="cs-category">
                    {{ post.tags }}
                  </span>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>
