<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1378">
  <div class="cs-container">
    <div class="cs-content">
      <span class="topper">{{ site.data.settings.service_settings.topper }}</span>
      <h2 class="headline">{{ site.data.settings.service_settings.headline }}</h2>
      <p class="cs-text">{{ site.data.settings.service_settings.subheadline }}</p>
    </div>
    <ul class="cs-card-group">
      {% for card in site.data.settings.service_settings.services %}
        <li class="cs-item">
          <picture class="cs-picture">
            <img class="cs-icon" src="{{ card.icon }}" loading="lazy" decoding="async" alt="icon" width="48" height="48">
          </picture>
          <h3 class="cs-h3">{{ card.title }}</h3>
          <p class="cs-item-text">{{ card.content }}</p>
        </li>
      {% endfor %}
    </ul>
    <a class="cs-button-solid">
      {{ site.data.settings.service_settings.button_text }}
    </a>
  </div>
</section>
