<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1352">
  <div class="cs-container">
    <div class="cs-content">
      <span class="topper">grow online</span>
      <h1 class="headline">Small Business Web Design In San Antonio</h1>
      <p class="cs-text">
        Beautiful mobile-friendly websites that are faster than any Wordpress host (looking at you too, Webflow.)
<!--        No page builders or WordPress - We offer superior 100% hand-coded websites with starting at $150/mo.-->
      </p>
      <a href="" class="button-solid-secondary">Free Consultation</a>
    </div>
    <!--To make your own background crops of people use https://www.remove.bg/-->
    <picture class="cs-picture">
<!--      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/designer.png">-->
<!--      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/designer.png">-->
      <img aria-hidden="true" decoding="async" src="{{ '/assets/images/seo.svg' | relative_url }}" alt="accountant" width="468" height="658">

    </picture>

  </div>
  <!--Bubble Groups-->
<!--  <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>-->
<!--  <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>-->
  <!-- Background Image, background image added in the css at 1600px for parallax effect -->
<!--  <picture class="cs-background">-->
<!--    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract-m.jpg">-->
<!--    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg">-->
<!--    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">-->
<!--  </picture>-->
</section>
