<section class="hero" style="background-image: url('');">
  <div class="hero__inner">
    <div class="hero__content">
      <h1>Home Services Digital Marketing Agency</h1>
      <p>
        We help home service businesses become easy to find online and stay booked solid.
      </p>
      <div class="button-group">
        <a href="#calendly" class="button button--primary">Book a FREE Consultation Call</a>
        <!-- <a href="#" class="button button--secondary">Learn More</a> -->
      </div>
    </div>
    <div class="hero__image">
      <div class="hero__masonry">
        <div class="hero__masonry-item">
          <video autoplay loop muted playsinline preload="auto" style="width: 100%; height: 100%; object-fit: cover;">
            <source src="https://alamo-studio.b-cdn.net/painter.mp4" type="video/mp4" fetchpriority="high">
          </video>
        </div>
        <div class="hero__masonry-item">
          <!-- <img src="https://images.pexels.com/photos/5463576/pexels-photo-5463576.jpeg?auto=compress&cs=tinysrgb&w=630&h=375&dpr=1" alt="Grid image 2" loading="lazy"> -->
          <video autoplay loop muted playsinline preload="auto" style="width: 100%; height: 100%; object-fit: cover;">
            <source src="https://alamo-studio.b-cdn.net/carpenter.mp4" type="video/mp4" fetchpriority="high">
          </video>
        </div>
        <div class="hero__masonry-item">
          <!-- <img src="https://plus.unsplash.com/premium_photo-1682724908970-a3fae9bd04d2?q=80&w=630&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Grid image 3" loading="lazy"> -->
          <video autoplay loop muted playsinline preload="auto" style="width: 100%; height: 100%; object-fit: cover;">
            <source src="https://alamo-studio.b-cdn.net/sanding.mp4" type="video/mp4" fetchpriority="high">
          </video>
        </div>
        <div class="hero__masonry-item">
          <!-- <img src="https://images.pexels.com/photos/27135590/pexels-photo-27135590/free-photo-of-a-man-using-a-leaf-blower-in-a-park.jpeg?auto=compress&cs=tinysrgb&w=630&h=375&dpr=1" alt="Grid image 4" loading="lazy"> -->
          <video autoplay loop muted playsinline preload="auto" style="width: 100%; height: 100%; object-fit: cover;">
            <source src="https://alamo-studio.b-cdn.net/framing.mp4" type="video/mp4" fetchpriority="high">
          </video>
        </div>
        <div class="hero__masonry-item">
          <!-- <img src="https://images.pexels.com/photos/8487757/pexels-photo-8487757.jpeg?auto=compress&cs=tinysrgb&w=630&h=375&dpr=1" alt="Grid image 5" loading="lazy"> -->
          <video autoplay loop muted playsinline preload="auto" style="width: 100%; height: 100%; object-fit: cover;">
            <source src="https://alamo-studio.b-cdn.net/drill.mp4" type="video/mp4" fetchpriority="high">
          </video>
        </div>
      </div>
    </div>
  </div>
</section> 