<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1352">
  <div class="cs-container">
    <div class="cs-content">
      <span class="topper">
        {{ site.data.settings.hero_settings.topper }}
      </span>
      <h1 class="headline">{{ site.data.settings.hero_settings.headline }}</h1>
      <p class="cs-text">
        {{ site.data.settings.hero_settings.subheadline }}
      </p>
      <a href="" class="button-solid-secondary">{{ site.data.settings.hero_settings.button_text }}</a>
    </div>
    <picture class="cs-picture">
<!--      <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/designer.png">-->
<!--      <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/designer.png">-->
      <img aria-hidden="true" decoding="async" src="{{ site.data.settings.hero_settings.hero_image | relative_url }}" alt="accountant" width="468" height="658">

    </picture>

  </div>
  <!--Bubble Groups-->
<!--  <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>-->
<!--  <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>-->
  <!-- Background Image, background image added in the css at 1600px for parallax effect -->
<!--  <picture class="cs-background">-->
<!--    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract-m.jpg">-->
<!--    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg">-->
<!--    <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">-->
<!--  </picture>-->
</section>
