<section>
  <div class="image-group">
    <picture class="background">
      <source media="(max-width: 600px)" srcset="{{ 'assets/images/offer.svg' | relative_url }}">
      <img id="offer-banner" alt="Andres Urdaneta, Owner and Development at 'The Alamo Studio'" src="{{ 'assets/images/offer.svg' | relative_url }}" loading="lazy" decoding="async">
    </picture>
  </div>

  <div id="offer">
    <div class="container">

      <div class="content">
        <span class="topper">{{ site.data.settings.offer_settings.topper }}</span>
        <h2 class="headline">
          {{ site.data.settings.offer_settings.headline }}
        </h2>
        <p class="text">
          {{ site.data.settings.offer_settings.subheadline }}
        </p>
        <ul class="card-group">
          {% for card in site.data.settings.offer_settings.cards %}
            <li class="item">
              <div class="wrapper">
                <img alt="check" decoding="async" src="https://www.svgrepo.com/show/356736/checkmark.svg" height="24" width="24" loading="lazy">
                <h4 class="item-title">{{ card.title }}</h4>
              </div>
              <p class="item-text">
                {{ card.content }}
              </p>
            </li>
          {% endfor %}
        </ul>

        <a href="#" class="cs-button-solid">{{ site.data.settings.offer_settings.button_text }}</a>
      </div>
    </div>
  </div>
</section>