<section id="portfolio">
  <div class="container">
    <div class="content">
      <span class="topper">portfolio</span>
      <h2 class="title">
        Some Of The Work We’ve Done Over The Years
      </h2>
      <p>
        We have worked with clients all over the US and Canada for home services contractors, restaurants, consulting agencies, start ups, dermatologists, doctors, accountants, and more. No matter what your business is, we can build a website that is effective, beautiful, performant, and tailored to your industry.
      </p>
    </div>
  </div>
  <ul class="card-group">
    <li class="item">
      <picture class="picture">
<!--        TODO: Add source tags and fallback images -->
        <img src="https://oakharborwebdesigns.com/assets/images/port1-52b7e91d6e83606a7badc413e5423430.avif" alt="A computer screen showing a website preview" width="413" height="270">
      </picture>
      <h3 class="h3">Valley Construction Supply</h3>
      <p class="item-text">
        Valley Construction Supply is the largest privately held construction supply company in Seattle, WA for over 35 years and has been a happy client for over 5 years.
      </p>
      <a href="#" class="cs-button-solid">read case study</a>
    </li>
    <li class="item">
      <picture class="picture">
        <!--        TODO: Add source tags and fallback images -->
        <img src="https://oakharborwebdesigns.com/assets/images/port2-79021c7b418369d834b302c1172f3823.avif" alt="A computer screen showing a website preview" width="413" height="270">
      </picture>
      <h3 class="h3">Dr. Victoria Chan</h3>
      <p class="item-text">
        Dr. Victoria Chan is a Naturopathic Doctor based in California who offers a holistic approach to mental health. This was a VERY custom design that came out amazing.
      </p>
      <a href="#" class="cs-button-solid">read case study</a>
    </li>
    <li class="item">
      <picture class="picture">
        <!--        TODO: Add source tags and fallback images -->
        <img src="https://oakharborwebdesigns.com/assets/images/port3-2c1369e3ac4fa9381b4a715e1b1cd7d1.avif" alt="A computer screen showing a website preview" width="413" height="270">
      </picture>
      <h3 class="h3">Casablanca Bakery</h3>
      <p class="item-text">
        For Casablanca, we had a much larger scope of work where we built them a fully editable menu with a custom CMS to edit it, and a multi-language toggle.
      </p>
      <a href="#" class="cs-button-solid">read case study</a>
    </li>
  </ul>
</section>