@import "settings/fonts";
@import "settings/variables";
@import "settings/typography";
@import "components/buttons";
@import "modules/hero";
@import "modules/navbar";
@import "modules/google_review_app";
@import "modules/map_stats";
@import "modules/benefits";
@import "modules/about_us";
@import "modules/who";
@import "modules/cta";
@import "modules/utils";
@import "modules/calendly";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--body-background);
  color: var(--body-color);
}
