/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    padding: var(--section-padding);
    position: relative;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      color: var(--text-white);
      margin: 0 0 1rem 0;
    }

    .cs-topper {
      color: var(--lightgray-bg)
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--text-body);
      opacity: 0.8;
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-picture {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* black color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-button-solid {
      &::before {
        background: #FDA02C;
      }

      &:hover {
        color: var(--text-black);
      }
    }
  }
}

