.image-group {
  max-height: 30rem;
  width: 100%;
  overflow: hidden;

  #offer-banner {
    width: 100%;
    min-height: 20rem;
    object-fit: cover;
    opacity: 0.7;
  }
}

#offer {
  padding: var(--section-padding);

  .container {
    width: auto;
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 6vw, 4rem);
  }

  .background {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .topper {
      text-align: left;
      display: block;
    }

    .headline {
      max-width: 26ch;
      text-transform: uppercase;
      text-align: left;
      margin: 0 0 1rem 0;
    }

    .text {
      margin: 0 0 1.5rem
    }
  }

  .card-group {
    width: 100%;
    max-width: clamp(34.375rem, 50vw, 39.375rem);
    display: grid;
    margin: 0 0 3.25rem;
    padding: 0;
    gap: 1.5rem;

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.35rem;

      .wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.65rem;
      }

      .item-title {
      }

      .item-text {
        font-size: 0.99rem;
        margin: 0;
      }
    }
  }
}

//@media only screen and (min-width: 37.5rem) {
//  #offer {
//    .card-group {
//      grid-template-columns: repeat(12, 1fr);
//
//      .item {
//        grid-column: span 12;
//      }
//    }
//  }
//}