h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sectionHeaderFontFamily);
}

h2,
.h2 {
  font-size: var(--sectionHeaderFontSize);
  font-weight: var(--sectionHeaderFontWeight);
  line-height: var(--sectionHeaderLineHeight);
  text-align: inherit;
  margin: 0 0 1rem 0;
  color: var(--sectionHeaderColor);
}

h3,
.h3{
  font-size: 1.25rem;
  font-weight: 900;
  line-height: var(--sectionHeaderLineHeight);
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  color: var(--sectionHeaderColor);
}

.title {
  text-transform: uppercase;
}

p {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0 0 1.5rem;
  color: var(--bodyTextColor);
}

.cs-topper, .topper {
  font-family: var(--topperFontFamily);
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: .1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.highlight {
  color: var(--secondary)
}