// *****************
// Global Variables
// *****************

:root {
  --primary: #007EBE;
  --primary-light: #2b89ca;
  --secondary: #43b7ff;
  --tertiary: #003d57;
  --light-gray: #555555;
  --white: #fff;
  --black: #202020;
  --beige: #FFC;
  --yellow: #FDA02C;
  --red: #D63D1D;
  --blue: #007EBE;

  --text-white: #fff;
  --text-black: #202020;
  --text-gray: #707070;

  --text-body: var(--text-white);

  --body-bg: #fff;
  --lightgray-bg: #f2f2f2;

  --font-headline: "Bebas Neue", Arial, sans-serif;
  --font-body: "Roboto", Helvetica, sans-serif;

  --h1-headline-size: clamp(3.81rem, 7.61vw, 5.61rem);
  --h2-headline-size: clamp(2.59rem, 5.209vw, 4.209rem);
  --h3-headline-size: clamp(1.7rem, 3vw, 2.2rem);
  --h4-headline-size: clamp(1.469rem, 2.6vw, 1.8rem);
  --h5-headline-size: clamp(2.209rem, 1.777rem, 3.777rem);
  --h6-headline-size: clamp(1.309rem, 3.333vw, 1.8rem);
  --h7-headline-size: clamp(1.2rem, 2.888vw, 1.5rem);
  --small-headline-size: clamp(0.50rem, 0.75rem, 1.5rem);

  // spacing
  --section-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}